In [3]:
import pandas as pd

In [5]:
true = pd.read_csv('./True.csv')
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
false = pd.read_csv('./Fake.csv')
false.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [8]:
true['label'] = 0
false['label'] = 1

In [11]:
true.head(5)
len(true)

21417

In [10]:
df = pd.concat([true, false])
len(df)

44898

In [12]:
df['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [13]:
df = df.sample(frac = 1)
df.head(5)

,title,text,subject,date,label
3555,WATCH: Steve Harvey HILARIOUSLY Mocks Trump F...,Steve Harvey appeared on The View and ripped...,News,"December 5, 2016",1
13024,BREAKING: MORE HACKED E-MAILS From DNC Release...,It s not the first time that the name of Vladi...,politics,"Sep 13, 2016",1
13207,VIRAL VIDEO: MAN CALLS OUT BLACK LIVES MATTER ...,Jerry L Washington asked the obvious question:...,politics,"Aug 20, 2016",1
12631,Pakistan says over 300 Baloch separatist milit...,ISLAMABAD (Reuters) - More than 300 Baloch sep...,worldnews,"December 10, 2017",0
11014,"Trump presidency faces longer odds after Iowa,...",NEW YORK (Reuters) - Republican candidate Dona...,politicsNews,"February 2, 2016",0

In [28]:
df = df[['text','label']]
df.head(3)

                                                    text  label
3555   Steve Harvey appeared on  The View  and ripped...      1
13024  It s not the first time that the name of Vladi...      1
13207  Jerry L Washington asked the obvious question:...      1

In [22]:
df.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [24]:
messages = df.copy()

In [37]:
import nltk

In [32]:

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [33]:
import re

In [34]:
lemmatizer = WordNetLemmatizer()

In [35]:
stopwords = stopwords.words('english')

In [38]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/michellevan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [39]:
def clean_data(text):
    text = text.lower() 
    text = re.sub('[^a-zA-Z]' , ' ' , text)
    token = text.split() 
    token = [lemmatizer.lemmatize(word) for word in token if not word in stopwords]  
    clean_news = ' '.join(token) 
    
    return clean_news

In [41]:
df['text'] = df['text'].apply(lambda x : clean_data(x))

In [43]:
df.isnull().sum()

text     0
label    0
dtype: int64

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [45]:
vectorizer = TfidfVectorizer(max_features = 50000 , lowercase=False , ngram_range=(1,2))

In [47]:
X = df.iloc[:35000,0]
y = df.iloc[:35000,1]

In [57]:
X.shape
y.shape

(35000,)

In [48]:
X.head()

3555     steve harvey appeared view ripped donald trump...
13024    first time name vladimir putin brought u presi...
13207    jerry l washington asked obvious question blac...
12631    islamabad reuters baloch separatist militant s...
11014    new york reuters republican candidate donald t...
Name: text, dtype: object

In [49]:
y.head()

3555     1
13024    1
13207    1
12631    0
11014    0
Name: label, dtype: int64

In [50]:
from sklearn.model_selection import train_test_split
train_X , test_X , train_y , test_y = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [51]:
vec_train = vectorizer.fit_transform(train_X)

In [52]:
vec_test = vectorizer.transform(test_X)

In [55]:
vec_train.shape
vec_test.shape

(7000, 50000)

In [59]:
vec_train = vec_train.toarray()
vec_test = vec_test.toarray()

In [60]:
train_data = pd.DataFrame(vec_train , columns=vectorizer.get_feature_names())
test_data = pd.DataFrame(vec_test , columns= vectorizer.get_feature_names())

/Users/michellevan/opt/miniconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/Users/michellevan/opt/miniconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [61]:
from sklearn.naive_bayes import MultinomialNB

In [62]:
from sklearn.metrics import accuracy_score,classification_report

In [63]:
clf = MultinomialNB()

In [64]:
clf.fit(train_data, train_y)
predictions  = clf.predict(test_data)
print(predictions)

[1 0 1 ... 0 1 0]

In [65]:
print(classification_report(test_y , predictions))

              precision    recall  f1-score   support

           0       0.95      0.95      0.95      3297
           1       0.95      0.96      0.95      3703

    accuracy                           0.95      7000
   macro avg       0.95      0.95      0.95      7000
weighted avg       0.95      0.95      0.95      7000

In [66]:
print(classification_report(test_y , predictions))

              precision    recall  f1-score   support

           0       0.95      0.95      0.95      3297
           1       0.95      0.96      0.95      3703

    accuracy                           0.95      7000
   macro avg       0.95      0.95      0.95      7000
weighted avg       0.95      0.95      0.95      7000

In [67]:
predictions_train = clf.predict(train_data)
print(classification_report(train_y , predictions_train))

              precision    recall  f1-score   support

           0       0.96      0.95      0.96     13328
           1       0.96      0.96      0.96     14672

    accuracy                           0.96     28000
   macro avg       0.96      0.96      0.96     28000
weighted avg       0.96      0.96      0.96     28000

In [68]:
accuracy_score(train_y , predictions_train)

0.9589285714285715

In [69]:
accuracy_score(test_y , predictions)

0.9517142857142857

In [70]:
def fake_news_det(news):
    input_data = news
    vectorized_input_data = vectorizer.transform(input_data)
    prediction = clf.predict(vectorized_input_data)
    print(prediction)

In [73]:
fake_news_det(['hello'])

[1]

In [74]:
import pickle
# pickle.dump(classifier, open('model2.pkl', 'wb'))

In [75]:
pickle.dump(clf, open('model1.pkl', 'wb'))

In [76]:
pickle.dump(vectorizer, open('vec.pkl', 'wb'))

In [78]:
joblib_model = pickle.load(open('model1.pkl', 'rb'))
joblib_vect = pickle.load(open('vec.pkl', 'rb'))
val_pkl = joblib_vect.transform(['dddd']).toarray()
res = joblib_model.predict(val_pkl)

/Users/michellevan/opt/miniconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(